[flake8]
# Базовые проверки на ошибки, без стиля
select = F,E9
# Игнорировать большинство стилистических правил
ignore = E,W,C
# Исключить файлы и директории
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv
